* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: rgb(27, 82, 233);
    margin-left: auto;
}

main {
    margin-top: 20rem;
}

.location {
    text-align: center;
    margin-bottom: 3rem;
}

.submit {
    display: inline;
    color: black;
}

.inputField {
    text-align: center;
}

.zipCode, .countryCode {
    color: black;
}

.title {
    text-align: center;
    padding-top: 2rem;
}

#curTemp {
    display: block;
    font-size: 5rem;
    text-align: center;
}